{% extends 'layout.twig' %}

{% block content %}
    <h1 class="ls-title-intro ls-ico-home">Login</h1>

    {% include 'messages.twig' %}

    <div class="ls-box">
    {{ form(form) }}
    </div>
{% endblock content %}