<!DOCTYPE html>
<html class="ls-theme-gold ls-html-nobg ">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Página Inicial</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="/assets/css/locastyle.css">
</head>
<body class="documentacao documentacao_exemplos documentacao_exemplos_painel1 documentacao_exemplos_painel1_home documentacao_exemplos_painel1_home_index">

<div class="ls-topbar">

    <!-- Barra de Notificações -->
    <div class="ls-notification-topbar">

        <!-- Links de apoio -->
        <div class="ls-alerts-list">
            <a href="#" class="ls-ico-bell-o" data-counter="8" data-ls-module="topbarCurtain" data-target="#ls-notification-curtain"><span>Notificações</span></a>
            <a href="#" class="ls-ico-bullhorn" data-ls-module="topbarCurtain" data-target="#ls-help-curtain"><span>Ajuda</span></a>
            <!--a href="#" class="ls-ico-question" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span>Sugestões</span></a-->
        </div>

        <!-- Dropdown com detalhes da conta de usuário -->
        <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
            <a href="#" class="ls-ico-user">
                João
                <small>(fmolina)</small>
            </a>
            <nav class="ls-dropdown-nav ls-user-menu">
                <ul>
                    <li><a href="#">Meus dados</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <span class="ls-show-sidebar ls-ico-menu"></span>

    <!-- Nome do produto/marca -->
    <h1 class="ls-brand-name"><a class="ls-ico-earth" href="/">Bom de Busca</a></h1>
</div>


<aside class="ls-sidebar">
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
        <a href="#" class="ls-ico-user">
            João
            <small>(fmolina)</small>
        </a>
        <nav class="ls-dropdown-nav ls-user-menu">
            <ul>
                <li><a href="#">Meus dados</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </nav>
    </div>
    <!-- Dropdown com detalhes da conta de usuário -->
    <div class="ls-area-account ls-ico-user">
        <h2 class="ls-title-2">Administrando</h2>
        <h3 class="ls-title-3">João da Silva</h3>
        <a href="#" class="ls-btn-xs ls-btn-dark">VER TODOS</a>
    </div>
    <nav class="ls-menu">
        <ul>
            <li><a href="#" class="ls-ico-home">Painel</a></li>
            <li><a href="#" class="ls-ico-users">Corretores</a></li>
            <li><a href="#" class="ls-ico-stats">Imóveis</a></li>
            <li class="ls-submenu">
                <a href="#" class="ls-ico-cog">Administração</a>
                <ul>
                    <li><a class="ls-submenu-item" href="#">Configurações</a></li>
                </ul>
            </li>
        </ul>
    </nav>


</aside>

<main class="ls-main ">
    <div class="container-fluid">
        {% block content %}
        <h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
        {% endblock content %}
    </div>

    <!--footer class="ls-footer" role="contentinfo">
        <nav class="ls-footer-menu">
            <h2 class="ls-title-footer">suporte e ajuda</h2>
            <ul>
                <li>
                    <a href="#" target="_blank" class="bg-customer-support">
                        <span class="visible-lg">Atendimento</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="bg-my-tickets">
                        <span class="visible-lg">Meus Chamados</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="bg-help-desk">
                        <span class="visible-lg">Central de Ajuda (Wiki)</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="bg-statusblog">
                        <span class="visible-lg">Statusblog</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="ls-footer-info">
            <span class="last-access ls-ico-screen"><strong>Último acesso: </strong>99/99/9999 99:99:99</span>
            <div class="set-ip"><span class="set-ip"><strong>IP:</strong> 000.00.00.000</span></div>
            <p class="ls-copy-right">Copyright © 1997-2014 Serviços de Internet S/A.</p>
        </div>
    </footer-->

</main>


<aside class="ls-notification">
    <nav class="ls-notification-list" id="ls-notification-curtain">
        <h3 class="ls-title-2">Notificações</h3>
        <ul>
            <li class="ls-dismissable">
                <a href="#">Accusantium sit perferendis autem corporis alias quas debitis distinctio ut ex</a>
                <a href="#" data-ls-module="dismiss" class="ls-ico-close ls-close-notification"></a>
            </li>
        </ul>
        <p class="ls-no-notification-message">Não há notificações.</p>
    </nav>
    <nav class="ls-notification-list" id="ls-help-curtain">
        <h3 class="ls-title-2">Feedback</h3>
        <ul>
            <li><a href="#">> molestiae sit quia harum tenetur praesentium</a></li>
            <li><a href="#">> quos placeat blanditiis atque reiciendis eligendi</a></li>
        </ul>
    </nav>
    <nav class="ls-notification-list" id="ls-feedback-curtain">
        <h3 class="ls-title-2">Ajuda</h3>
        <ul>
            <li class="ls-txt-center hidden-xs">
                <a href="#" class="ls-btn-dark ls-btn-tour">Fazer um Tour</a>
            </li>
            <li><a href="#">> Guia</a></li>
            <li><a href="#">> Wiki</a></li>
        </ul>
    </nav>
</aside>

<script src="/assets/js/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="/assets/js/locastyle.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        locastyle.browserUnsupportedBar.init();
    });
</script>

</body>
</html>
