{% if app.session.flashBag is defined %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alertType in alertTypeAvaillable %}
        {%- for alert in app.session.flashBag.get(alertType) %}
        <div class="ls-alert-warning ls-dismissable">
            <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
            {{ alert|trans }}
        </div>
        {% endfor %}
    {% endfor %}
{% endif %}